.articles {
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.articles-main{
    display: flex;
    gap: 1rem;
}
.articles h1 {
  color: #111;
  text-transform: uppercase;
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 104%;
  letter-spacing: 2.55px;
  text-transform: uppercase;
  max-width: 500px;
  display: block;
}
.article{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.article-img-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
    scale: 0.8;
}
.article-img-container img{
    transform: scale(0.8);
    align-self: flex-start; 
}
.article h3{
    margin-block-start: 0;
    margin-block-end: 0;
}
.article-title {
  color: #111;
  font-family: Raleway;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 500;
  line-height: 187%;
  letter-spacing: 0.38px;
}
.article-date {
  color: #acacac;

  font-family: Raleway;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 187%;
  letter-spacing: 0.28px;
}
@media (max-width: 1400px) { 
  .articles{
    scale: .9;
  }
}
@media (max-width: 1200px) { 
  .articles{
    scale: 1;
  }
  .articles-main{
    flex-direction: column;
  }
}
@media (max-width: 992px) { 
  
}
@media (max-width: 768px) { 
  .articles h1{
    scale: .9;
  }
}
@media (max-width: 576px) { 
  .articles {scale: .7;
    padding: 0rem 0rem;}
}


